<!DOCTYPE html>
<html>
  <head>
    <title>AusParliament</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Australian Political Parties</h1>
    <nav>
      <%= link_to 'Parties Index', parties_path %>
      |
      <%= link_to 'Create New Party', new_party_path %>
      |
      <%= link_to 'Members Index', members_path %>
      |
      <%= link_to 'Create New Member', new_member_path %>
    </nav>
    <hr>
    <%= yield %>
  </body>
</html>
